.table-body-list {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border-top: 2px solid lavender;
    background-color: rgba(71, 125, 175, 0.6);
    border-radius: 5px;
}

.list-menu {}

.list-menu__btn input {
    display: none;
}

.list-menu__btn {
    border: none;
    background-color: darkslateblue;
    border-radius: 3px;
    color: #dbdbdb;
    font-size: 16px;
    font-weight: 500;
    padding: 3px 6px;
}

.list-items__item {
    width: 30%;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    line-height: 24px;
}