.navbar {
    background-color: darkslateblue;
}
.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu__message {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.navbar-menu__btn-home {
    border: none;
    background: none;
}

.navbar-menu__btn-home a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
