.table-body__list {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}


.list-items__title {
    width: 100%;
}
.list-items {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    width: 80%;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.list-new__btn-add {
    border: none;
    width: 300px;
    padding: 5px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: darkslateblue;
    color: #dbdbdb;
    font-size: 18px;
    font-weight: 500;
}
